<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">{{equip.name}}</h3>  
  </div>
  <div class="panel-body">
    <div class='row'>
      <div class="col-lg-12">
        <a class = "btn btn-primary pull-right" href="/equips">Back</a>
        <div class="col-lg-6" >
          <h4>{{equip.name}}</h4>
          <p>Department: {{equip.department}}</p>
          <p>Last Inspected: {{equip.prevInspect}}</p>
          <p>Next Inpection: {{equip.nextInspect}}</p>
          <p>Location: {{equip.currentLoc}}</p>
          <a href="{{equip.img_url}}" target="blank"><img id ="inner"class="thumbnail" src="{{equip.img_url}}" width='100px'></a>
            <div id="{{status}}">
              <p>INSPECTION DUE ON THIS ITEM</p>
              <a class = "btn btn-primary" href="/equips/sendEmail/{{equip.id}}">Send Reminder to Admin</a>
            </div>
          </div>
          <div class="col-lg-2">
            <div class='qr'>
              {{{code}}}
            </div>
          </div>
          <div class="pull-right clearfix">
            <a class = "btn btn-primary" href="/equips/edit/{{equip.id}}">Edit Details</a>
            <a class = "btn btn-primary" href="/equips/delete/{{equip.id}}">Delete</a>
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>